{% extends "index.html" %}

{% block content %}
<h3> Transaction Details </h3>
<table id="queryTable" class="hideOnStart">
<thead>
    <tr id="tableHeaders">
        <!-- Columns will be added here -->
         {% for column in columns %}
         <th>{{ column }}</th>
         {% endfor %}
    </tr>
</thead>

<tbody id="tableBody">
    <!-- Rows will be added here -->
     {% for row in rows %}
     <tr>
        {% for value in row %}
        <td> {{ value }} </td>
        {% endfor %}
     </tr>
     {% endfor %}
</tbody>
</table>

<div id="tableButtons" class="hideOnStart">
    <button id="prevBtn">PREV</button>
    <div>Page <span id="currentPage">1</span></div>
    <button id="nextBtn">NEXT</button>
</div>

{% endblock %}